<div class="modal-header clearfix">
	<h4 class="modal-title pull-left">CREATE NEW TASK FOR {{
		taskList.name | uppercase}}</h4>
	<a class="pull-right glyphicon glyphicon-remove icon-clear"
		ng-click="cancel()"></a>
</div>
<div class="modal-body data-row-body">
	<div class="create-project">
		<form name="myForm" novalidate>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="comment" class="settings">TASK NAME</label> <input
							type="text" name="taskItem" ng-model="taskItem.name"
							class="form-control" ng-pattern="/[a-zA-Z0-9^ ]/" required>
					</div>
					<div class="form-group" ng-init="getHours();">
						<label for="comment" class="settings">HOURS</label><input
							type="text" name="taskItem" ng-model="taskItem.estimatedHours"
							class="form-control" ng-pattern="/^[0-9]{1,7}$/" required>
					</div>

					<div class="form-group">
						<label for="comment" class="settings">EDC</label> <input
							type="text" class="form-control"
							uib-datepicker-popup="{{format}}" ng-model="taskItem.dueDate"
							is-open="popup.opened" datepicker-options="dateOptions"
							ng-required="true" close-text="Close"
							alt-input-formats="altInputFormats" ng-click="openDp()" /> </span>
					</div>
					<div class="form-group" ng-init="getAllUsersOfProject();">
						<label for="comment" class="settings">USERS</label> <select
							chosen="projectUsers" ng-model="taskItem.userIds"
							id="usersDropdown" multiple="multiple">
							<option value="">Select users</option>
							<option ng-repeat="user in projectUsers" value="{{user.userId}}">{{user.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="comment" class="settings">DESCRIPTION</label>
						<textarea name="taskItem" ng-model="taskItem.desc"
							class="form-control" ng-pattern="/[a-zA-Z0-9^ ]/" required></textarea>
					</div>
				</div>


			</div>
		</form>
	</div>
</div>

<div class="modal-footer add-user">
	<button class="btn save-close" ng-click="createTaskItem(taskItem)"
		ng-click="cancel()">SAVE & CLOSE</button>
</div>