<div class="modal-header header-back clearfix">
	<h4 class="modal-title pull-left">{{title}}</h4>
	<a class="pull-right glyphicon glyphicon-remove icon-clear"
		ng-click="cancel()"></a>
</div>
<div class="modal-body data-row-body">
	<div class="create-project">
		<form name="myForm" novalidate>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="comment" class="settings">TASK LIST NAME</label> <input
							type="text" name="taskList" ng-model="taskList.name"
							class="form-control" ng-pattern="/[a-zA-Z0-9^ ]/" required>
					</div>
					<div class="form-group">
						<label for="comment" class="settings">PROJECT</label> <select
							chosen="projects" ng-model="taskList.projectId"
							id="taskPprojectDropdown">
							<option value="">--- Select Project ---</option>
							<option ng-repeat="project in projects"
								value="{{project.projectId}}">{{project.projectName}}</option>
						</select>
					</div>
				</div>

			</div>
		</form>
	</div>
</div>

<div class="modal-footer add-user">
	<button class="btn save-close" ng-click="createTaskList(taskList)"
		ng-click="cancel()">SAVE & CLOSE</button>
</div>