<div class="modal-header clearfix">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <a class="pull-right glyphicon glyphicon-remove icon-clear" ng-click="cancel()"></a>
</div>
<div class="modal-body data-row-body">
 <table width="100%" ng-repeat="user in allusers">
              <tr>
                <td class="add-user-table"> 
                <small>
               <ng-letter-avatar data="{{user.userName}}" shape="round"></ng-letter-avatar>
             </small>
                <div class="user-label">
                <h4>{{user.userName}}</h4>
                <p>{{user.email}}</p>
                </div>
             </td>
                <td class="add-user">
                   <input id="switch-create-destroy" type="checkbox"
    name="selectedUsers[]"
    value="{{user.id}}"
    ng-checked="selection.indexOf(user.id) > -1"
    ng-click="toggleSelection(user.id)">
                </td>
              </tr>

            </table>
            


        </div>

   <div class="modal-footer">
    <button class="btn save-close" ng-click="ok()"  ng-click="cancel()">SAVE & CLOSE</button>
</div>