<a class="tiny button" href="" ng-click="toggle()"><i class="fa fa-list" aria-hidden="true"></i></a>
<div pageslide ps-open="checked" ps-speed="2">
    <div style="padding:0px" id="demo-right">

        <div ng-init="loadTimePeriod(); loadStatusTimeline()">
            <div class="panel-group" id="accordion" ng-init="loadUserProjects()">
                <div class="panel panel-default">
                    <div class="panel-heading project-active">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne1">
                                <i class="fa fa-inbox"></i>
                                <span>PROJECTS</span></a>
                        </h4>
                    </div>

                    <div id="collapseOne1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-group project-nav">
                                <li ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                                    <a ng-click="loadStatusTimeline(mytime); loadUserProjects(); toggle()" >ALL</a>
                                </li>

                                <li ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)" role="menu" aria-labelledby="dropdownMenu"  ng-repeat="project in userprojects| orderBy:'projectName'">
                                    <a ng-click="loadProjectMap(project, mytime); toggle()">{{project.projectName}}</a>
                                </li>		  
                            </ul>
                        </div>
                    </div>

                </div>


                <div class="panel panel-default">
                    <div class="panel-heading project-active">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo2">
                                <i class="fa fa-user"></i> <span>USERS</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-group project-nav">
                                <li  ng-class="{'selected':$index == selectedUser}" ng-click="setClickedUser($index)" ng-model = "users" ng-repeat="users in projectUsers| orderBy:'userName'" >
                                    <a ng-click="loadUserMap(users, mytime); toggle()">{{users.userName}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<div class="leftSidebar">
    <div class="theiaStickySidebar" >
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading project-active">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne">
                            <i class="fa fa-inbox"></i>
                            <span>PROJECTS</span></a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="list-group project-nav">
                            <li ng-hide="(userprojects | filter:searchProjects).length == 0" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                                <a ng-click="loadStatusTimeline(mytime); loadUserProjects()" >ALL</a>
                            </li>
                            <li class="right-inner-addon"><i class="fa fa-search"></i><input ng-model="searchProjects" class="form-control" placeholder="Search Projects..."></li>

                            <li ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)" role="menu" aria-labelledby="dropdownMenu"  ng-repeat="project in userprojects| orderBy:'projectName' | filter:searchProjects">
                                <a ng-click="loadProjectMap(project, mytime)">{{project.projectName}}</a>
                            </li>
                            <li ng-show="userprojects.length != 0 && (userprojects | filter:searchProjects).length == 0" class="null-results"><p>No results found for <span style="font-weight:bold; color:#222;">"{{searchProjects}}"</span></p></li>
                            <li ng-show="userprojects.length == 0" class="null-results"><p>No Projects found</p></li>
                        </ul>
                    </div>
                </div>

            </div>


            <div class="panel panel-default">
                <div class="panel-heading project-active">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo">
                            <i class="fa fa-user"></i> <span>USERS</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="list-group project-nav">
                            <li class="right-inner-addon"><i class="fa fa-search"></i><input ng-model="searchUsers" class="form-control" placeholder="Search Users..."></li>
                            <li  ng-class="{'selected':$index == selectedUser}" ng-click="setClickedUser($index)" ng-model = "users" ng-repeat="users in projectUsers| orderBy:'userName' | filter:searchUsers" >
                                <a ng-click="loadUserMap(users, mytime)">{{users.userName}}</a>
                            </li>
                            <li ng-show="projectUsers.length != 0 && (projectUsers | filter:searchUsers).length == 0" class="null-results"><p>No results found <span style="font-weight:bold; color:#222;">"{{searchUsers}}"</span></p></li>
                            <li ng-show="projectUsers.length == 0" class="null-results"><p>No Users found</p></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<md-sidenav md-component-id="right" class="md-sidenav-right md-whiteframe-z2">
    <md-content layout-padding=""> 

        <div class="col-md-5">
            <div class="left-panel" ng-repeat = "status in statusList">
                <div class="header-title">
                    <small> 
                        <ng-letter-avatar data="{{status.userName}}" shape="round"></ng-letter-avatar>
                    </small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h4># {{status.projectName}} @ {{status.userName}}</h4>
                    <p style="margin-left:60px; font-weight: 600; color: #bcbcbc; font-size: 13px;">{{status.hours}} hrs </p>
                </div>
                <div class="timeline-body worked-on" >
                    <h3>worked on</h3>
                    <p ng-bind-html="status.workedOn">{{status.workedOn}}</p>
                </div>

                <div class="timeline-body working-on">
                    <h3>working on</h3>
                    <p ng-bind-html="status.workingOn">{{status.workingOn}}</p>
                </div>

                <div class="timeline-body blocker-on">
                    <h3>blockers</h3>
                    <p ng-bind-html="status.blockers">{{status.blockers}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-7 comment-side">
            <div class="sidebar-nav">
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()"> 
                    <md-tooltip>Close Side Panel</md-tooltip> 
                    <md-icon class="md-default-theme" class="material-icons"><img src="../../assets/img/delete.svg"></md-icon> 
                </md-button>

                <form name="myForm">
                    <div class="form-group">


                        <label for="comment">Comment:</label>

                        <textarea class="form-control" id="text" name="formData[commentDesc]" rows="5" id="comment" ng-model="formData.commentDesc" placeholder="Your comment..." maxlength="200" required></textarea>

                        <h6 class="pull-right">
                            {{200 - formData.commentDesc.length}} / 200
                        </h6>

                    </div>
                    <button type="button" class="btn btn-default submit" style="width:30% !important;" ng-click= "addComment(selectedStatusId)" ng-disabled="myForm.$invalid">POST</button>
                </form>


            </div>
            <hr />


            <!--reaply-->


            <div class="sidebar-nav comment-list-group" ng-repeat="comment in allcomments">

                <small> <ng-letter-avatar data="{{comment.userName}}"
                                          shape="round"></ng-letter-avatar>
                </small>
                <div class="user-label">
                    <h4>{{comment.userName}}</h4>
                    <md-content class="example-3 md-accent">
                        <span
                            inline-edit="comment.commentDesc"
                            ng-click="updateComment(comment.commentDesc, comment.commentId)"
                            inline-edit-textarea
                            inline-edit-validation="comment.commentDesc.validator(comment.commentDesc)"
                            inline-edit-btn-save="Save"
                            inline-edit-btn-cancel="Cancel"> </span>
                        <span ng-show="'{{userName}}' == '{{comment.userName}}'">
                            <a class="delete-comment" href="#" ng-confirm-click="Are you absolutely sure you want to delete?" ng-click="deleteComment(comment.commentId, $index)"><img src="../../assets/img/delete.png" style="width: 27px; margin-top: -19px;"></a>
                        </span>

                    </md-content>

                </div>

                <!--replied-->
                <div class="user-label">

                    <div class="comment-link">
                        <a href="#" ng-click="showreplyDetails = ! showreplyDetails; loadReply(comment.commentId)">{{comment.replyCount}} Replies</a>

                        <h4 class="reaply"><a href="#" ng-click="showDetails = ! showDetails"><img src="../../assets/img/reply.png" style="width: 20px;" title="Reply"></a></h4>
                    </div>

                    <div class="procedure-details" ng-show="showreplyDetails">
                        <div class="user-label" ng-repeat="reply in allreplies">
                            <h4>{{reply.userName}}</h4>
                            <md-content class="example-3 md-accent">
                                <span
                                    inline-edit="reply.replyDesc"
                                    ng-click="updateReply(reply.replyDesc, comment.commentId, reply.replyId)"
                                    inline-edit-textarea
                                    inline-edit-validation="reply.replyDesc.validator(reply.replyDesc)"
                                    inline-edit-btn-save="Save"
                                    inline-edit-btn-cancel="Cancel"></span>
                                <span ng-show="'{{userName}}' == '{{reply.userName}}'"><a class="delete-comment" href="#" ng-confirm-click="Are you absolutely sure you want to delete?" ng-click="deletereplyComment(reply.replyId, commentId, $index)"><img src="../../assets/img/delete.png" style="width: 27px; margin-top: -19px;"></a></span>
                            </md-content>

                        </div>
                    </div>

                    <div class="procedure-details" ng-show="showDetails">
                        <form name="myForm">

                            <div class="form-group">
                                <input type="hidden" ng-model= "commentId"/>
                                <label for="comment">Reply Comment: <span><a href="#" ng-click="showDetails = ! showDetails" style="float:right;">close</a></span></label>
                                <textarea class="form-control" id="text" name="replyObj[replyDesc]" rows="5" id="replyDesc" ng-model="replyObj.replyDesc" requiredclear-input placeholder="Reply comment..." maxlength="200"></textarea>
                                <h6 class="pull-right">
                                    {{200 - replyObj.replyDesc.length}} / 200
                                </h6>
                            </div>
                            <button type="button" class="btn btn-default submit" style="width:30% !important;" ng-click= "postReply(replyObj, comment.commentId)" ng-disabled="myForm.$invalid">REPLY</button>
                        </form>

                    </div>
                </div>
                <!--reply-->

            </div>


        </div>

    </md-content> 
</md-sidenav> 

<div class="col-md-9">
    <div class="content">

        <!-- Page Content -->
        <div class="search-filter">
            <ul>
                <li>
                    <select ng-model="mytime" ng-options="timePeriod.value as timePeriod.id for timePeriod in timePeriod" ng-change="timeChange(mytime)">
                    </select>
                </li>

                <li><a href="#" ng-click="csvDownloadTimeline(mytime)" csv-download="options"><img src="../../assets/img/csv.png" class="cvg"tooltips tooltip-template="CSV Download" tooltip-side="bottom"></a></li>
            </ul>
        </div>
        <div class="wrapper">
            <div class="top-header">
                <!--  <span class="project"><span class="hash"># </span>{{status.projectName}}</span> -->

                <span ng-show="isActive" class="username username-status"><span class="hash hash-tag"># </span>All Projects</span> 
                <span ng-show="isProject" class="username username-status"><span class="hash hash-tag"># </span>{{selected.projectName}}</span> 
                <span ng-show="isUser" class="username username-status">
                    <span class="hash hash-tag" ng-if="selected.userName">@ 
                    </span>{{selected.userName}}
                </span>

            </div>

            <!--timeline-->
            <ul class="timeline newid" ng-repeat="data in timelineData">
                <div class="date-time">
                    <p>{{data.date}}</p>
                </div>

                <li ng-repeat="status in data.statusList"  ng-class-odd="'timeline-inverted'" ng-class-even="''">
                    <div class="timeline-badge"></div>
                    <div class="timeline-panel">


                        <div class="edit">
                            <a role="button" ng-click="openCommentSideBar(status.statusId); openSideNavPanel(mytime)" tooltips tooltip-template="Comment"><img src="../../assets/img/comment.svg"></a>

                        </div>

                        <div class="timeline-heading">

                            <h4 ng-show="isActive">
                                <div class="hash username-status"><ng-letter-avatar
                                        data="{{status.userName}}" shape="round"  width="25px" height="25px" fontSize="15px"></ng-letter-avatar>  {{status.userName}} </div>
                                <div class="hash username-status"><span class="hash-tag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# </span> {{status.projectName}} 
                                    <span  style="float:right"> {{status.time}}</div>
                            </h4>
                            <h4 ng-show="isProject"><span class="hash"><ng-letter-avatar
                                        data="{{status.userName}}" shape="round"  width="25px" height="25px" fontSize="15px"></ng-letter-avatar> </span> {{status.userName}}
                                <span  style="float:right"> {{status.time}}</span>
                            </h4>
                            <h4 ng-show="isUser"><span class="hash"># </span> {{status.projectName}}
                                <span  style="float:right"> {{status.time}}</span>
                            </h4>
                            <p>{{status.hours}}hrs, {{data.date}}, <a href="#" ng-click="openCommentSideBar(status.statusId); openSideNavPanel(mytime)">{{status.commentCount}} Comments</a></p> 
                        </div>

                        <div class="timeline-body worked-on content" ng-class="{ less: workedOnHidden }">
                            <h3>worked on</h3>
                            <p ng-bind-html="status.workedOn">{{status.workedOn}}</p>
                        </div>
                        <div>
                            <a class="show-link" ng-click="workedOnHidden = !workedOnHidden" ng-show="status.workingOn">{{workedOnHidden ? '... More' : '... Less'}}</a>
                        </div>

                        <div class="timeline-body working-on content" ng-class="{ less: workingOnHidden }">
                            <h3>working on</h3>

                            <p ng-bind-html="status.workingOn">{{status.workingOn}}</p>
                        </div>
                        <div>
                            <a class="show-link" ng-click="workingOnHidden = !workingOnHidden" ng-show="status.workingOn">{{workingOnHidden ? '... More' : '... Less'}}</a>
                        </div>

                        <div class="timeline-body blocker-on content" ng-class="{ less: blockerHidden }">
                            <h3>blockers</h3>
                            <p ng-bind-html="status.blockers">{{status.blockers}}</p>
                        </div>
                        <a class="show-link" ng-click="blockerHidden = !blockerHidden" ng-show="status.blockers">{{blockerHidden ? '... More' : '... Less'}}</a>

                    </div>
                </li>

                <li class="clearfix no-float"></li>
            </ul>


        </div>
    </div>


    <script>
        $(document).ready(function() {
        $('.leftSidebar, .content, .rightSidebar')
                .theiaStickySidebar({
                additionalMarginTop: 53
                });
        });
    </script>
</div>
