<div>
  <div class="island" ng-controller="feebackCtrl">
     <h3>Feedback</h3>
	 <hr />
	 <select class="form-control" ng-model="category">
	    <option value="">-- Select Category --</option>
	    <option value="Bugs">Bugs</option>
		<option value="Enhancement">Enhancement</option>
        <option value="Comments">Comments</option>		
		</select>
	 <textarea name="" class="form-control" placeholder="Send us your comments or suggestion..." ng-model="commentText"></textarea>
	
	 <button class="btn btn-default" ng-click="sendFeedback()"> Send</button>
  </div>
