
<div id="main">
	<div class="login-content">
		<img class="logo-img" src="../../assets/img/logo.png"></img>
		<h5 class="online">
			ONLINE <span class="standup">STANDUP</span>
		</h5>
		<center><h4>Forgot Your Password ?</h4></center>
		<div id="container">
			<form name="forgotpasswordform" ng-submit="submitForgotPasswordForm(forgotpasswordform.$valid)"
				novalidate>
				<!-- #first_step -->
				<div id="first_step">
					<div class="form">
						<h5>Email Address</h5>
						<input type="text" name="username" id="username"
							ng-model="user.username" value=""
							ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required /> <span
							class="label label-danger"
							ng-show="forgotpasswordform.username.$invalid &&!forgotpasswordform.username.$error.required">Email
							is invalid</span>
						<input
							class="send submit" type="submit" name="submit" id="submit"
							value="Send Email" />
					</div>
				</div>
				<div class="clear"></div>

			</form>
		</div>

		<br />
			<a href="login">Back To Login</a>
	</div>

	<toaster-container></toaster-container>
</div>

</div>

