
	<!-- /.container -->
	<div class="bottom-nav">
		<div class="wrapper" style="background: #3f3f3f;">
			<div class="current-page">
				<h5>
					<a href="#" class="current-active">timeline</a>
				</h5>
			</div>
		</div>
	</div>




<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar left-side" ng-init="initStatus()">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">

		<!-- Sidebar Menu -->
		<ul class="sidebar-menu" ng-init="initUserProjects()">

			<li class="treeview"  ><a class="btn dropdown-toggle"
					data-toggle="dropdown" href="#"><i
					class="fa fa-inbox"></i> <span>PROJECTS</span></a>

					<ul  class="dropdown-menu dropdown-menu-right" role="menu"
						aria-labelledby="dropdownMenu"  ng-repeat="project in userprojects">
						
						<li><a href="#" class="project-pro"> <span
					class="projectx">ALL</span> <i
					class="fa fa-angle-left pull-right"></i>
			</a></li>
						<li><a href="#"> {{project.projectName}}</a></li>
						
					


					</ul>
					
					</li>

			<!--    <li class="treeview">
                    <a href="#">
                        <span># {{}}</span>
                    </a>
                  </li>

                   <li class="treeview">
                    <a href="#">
                        <span># Project</span>
                    </a>
                  </li>-->

			<!-- <li class="treeview"><a href="#" class="project-pro"> <span
					class="projectx">#Projectx</span> <i
					class="fa fa-angle-left pull-right"></i>
			</a>
				<ul class="treeview-menu" ng-repeat="status in allstatus">
					<li><a href="#">{{status.projectName}}</a></li>
				</ul></li> -->

			<li class="treeview"><a href="#" class="project-active"> <i
					class="fa fa-user"></i> <span>USERS</span> <i
					class="fa fa-angle-left pull-right"></i>
			</a>
				<ul class="treeview-menu" ng-repeat="status in allstatus">
					<li><a href="#">{{status.userName}}</a></li>

				</ul></li>
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>

	
	
		<div id="wrapper" class="toggled">

      <!-- Sidebar -->
        <div id="sidebar-wrapper">
         <div class="sidebar-wrapper-scroll">
          <div class="scroll-box">
            <div class="sidebar-nav">
			  <form name="myForm">
                <div class="form-group">
				  <input type="hidden" value="56fe6795055f8a080c01f67d" ng-model= "statusId"/>
                  <label for="comment">Comment:</label>
                    <textarea class="form-control" id="text" name="text" rows="5" id="comment" ng-model="commentDesc" required></textarea>
                    <h6 class="pull-right" id="count_message">
                  </div>
                 <button type="button" class="btn btn-default submit" style="width:30% !important;" ng-click= "postComment()" ng-disabled="myForm.$invalid">POST</button>
              </form>
			</div>
                <hr />
           
            <div class="sidebar-nav">
               <img class="round" width="40" height="40" avatar="Username">
                 <div class="user-label">
                   <h4>username</h4>
                    <p class="comment">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                </div>
                 <h4 class="reaply">Reaply</h4>
            </div>
              <hr />

              <div class="sidebar-nav">
               <img class="round" width="40" height="40" avatar="Username">
                 <div class="user-label">
                   <h4>username</h4>
                    <p class="comment"><b>@Username </b>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                </div>
                 <h4 class="reaply">Reaply</h4>
            </div>
            
            <div class="last-reaply">
              <img class="round" width="40" height="40" avatar="Username">
                 <div class="user-label">
                   <h4>username</h4>
                    <p class="comment"><b>@Username </b>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                </div>
            </div>
         
         </div>
        </div>
        </div>
        <!-- /#sidebar-wrapper -->


    <div id="page-content-wrapper">
     <div class="container-fluid">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
         <!-- Main content -->
        <div class="content">
         
         <!-- Page Content -->
                <div class="wrapper">
                     <div class="top-header">
						<!--  <span class="project"><span class="hash"># </span>{{status.projectName}}</span> -->
						 <span class="username"><span class="hash">@ </span>{{userName}}</span>
					 </div>

                     <ul class="timeline newid" ng-repeat="artist in artists">
                        <div class="date-time">
                           <p>{{artist.date}}</p>
                         </div>
						 
                           <li ng-repeat="status in artist.statusList"  ng-class-odd="'timeline-inverted'" ng-class-even="''">
                             <div class="timeline-badge"></div>
                               <div class="timeline-panel">
            
                                 <div class="edit-left-side">
									<a data-target="#menu-toggle1" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="menu-toggle1"><img src="../../assets/img/comment.svg"></a>
								 </div>

                                  <div class="timeline-heading">
                                     <h4><span class="hash"># </span> {{status.projectName}} 
									<!-- <span class="hash">@ </span> {{status.userName}}</h4> --> 
                                   </div>
								   
                                  <div class="timeline-body worked-on">
									 <h3>worked on</h3>
										<p>{{status.workedOn}}</p>
		                           </div>

                                   <div class="timeline-body working-on">
									  <h3>working on</h3>
									   <p>{{status.workingOn}}</p>
								   </div>

                                   <div class="timeline-body blocker-on">
									  <h3>blockers</h3>
									  <p>{{status.blockers}}</p>
								   </div>

                              </div>
                          </li>
    
                        <!--   <li class="timeline-inverted">
										<div class="timeline-badge"></div>
										<div class="timeline-panel">

											<div class="edit">
												<a data-target="#menu-toggle" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="menu-toggle"><img src="../../assets/img/comment.svg"></a>

											</div>

											<div class="timeline-heading">
												<h4>
													<span class="hash"># </span> {{status.projectName}} <span
														class="hash">@ </span> {{status.userName}}
												</h4>
												<p>{{status.hours}}</p>
											</div>
											<div class="timeline-body worked-on">
												<h3>worked on</h3>
												<p>{{status.workedOn}}</p>
											</div>

											<div class="timeline-body working-on">
												<h3>working on</h3>
												<p>{{status.workingOn}}</p>
											</div>

											<div class="timeline-body blocker-on">
												<h3>blockers</h3>
												<p>{{status.blockers}}</p>
											</div>

										</div>
									</li>--> 
                                    <li class="clearfix no-float"></li>
                             </ul>
  
                        </div>
                    </div>
                </div>
          </div>
      </div>
</div>
		
		

<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		
		$("#wrapper").toggleClass("toggled");
	});
	$("#menu-toggle1").click(function(e) {
		e.preventDefault();
		
		$("#wrapper").toggleClass("toggled");
	});

	var text_max = 200;
	$('#count_message').html(text_max + ' /200');

	$('#text').keyup(function() {
		var text_length = $('#text').val().length;
		var text_remaining = text_max - text_length;

		$('#count_message').html(text_remaining + ' /200');
	});

	var text_max = 200;
	$('#count_message-reaply').html(text_max + ' /200');

	$('#reaply').keyup(function() {
		var text_length = $('#reaply').val().length;
		var text_remaining = text_max - text_length;

		$('#count_message-reaply').html(text_remaining + ' /200');
	});
</script>
