  <nav id="header_nav" ng-class="navClass" class="navbar navbar-default navbar-custom navbar-custom-dark sticky bg-trans nav-landing">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand nav-logo" href="#"><img src="../../assets/img/logo-1.png" class="logo logo-white" alt="logo"><img src="../../assets/img/logo-1.png" class="logo logo-dark hidden" alt="logo"> </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  
                    <ul class="nav navbar-nav navbar-right landin-page">
                        <li><a href="#home" du-smooth-scroll du-scrollspy offset="30" class="scroll">Home</a></li>
                        <li><a href="#features" du-smooth-scroll du-scrollspy offset="30" class="scroll">Features</a></li>
                        <li><a href="#pricing" du-smooth-scroll du-scrollspy offset="30" class="scroll">Pricing</a></li>
                        <li><a href="#faqs" du-smooth-scroll du-scrollspy offset="30" class="scroll">FAQ</a></li>
					    <li><a href="signup" class="scroll btn btn-custom signup-button signup-color">SIGNUP</a></li>
						<li>&nbsp;</li>
						<li><a href="login" class="scroll btn btn-custom signup-button login-color">LOGIN</a></li>
					
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <section class="section-lg home-alt bg-img" id="home">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="home-wrapper text-center">
                            <p class="text-muted"></p>
                            <h1>Simple & Easy way to manage daily standup with local & global teams</h1>
                            <h3>Never loose track of your team's progress. Track em online.</h3>
                            
                            <a href="signup" class="btn btn-custom signup-color">SIGNUP</a>
                           <!-- <a href="login" class="btn btn-custom login-color">LOGIN</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="clearfix"></div>


         <section class="section" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="features-box text-center">
                            <div class="feature-icon">
                                <img src="../../assets/img/setup.png" />
                            </div>
                            <h3>Signup - Setup</h3>

                            <p class="text-muted">Signup and invite team members to join. Configure projects & team memebers & get started with tracking status online</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="features-box text-center">
                            <div class="feature-icon">
                                <img src="../../assets/img/remind.png" />
                            </div>
                            <h3>Get reminded</h3>

                            <p class="text-muted">Get daily reminders (at your preferred time) in your email. Complete your daily standup update in a breeze.</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="features-box text-center">
                            <div class="feature-icon">
                                 <img src="../../assets/img/track.png" />
                            </div>
                            <h3>Track</h3>

                            <p class="text-muted">Track individual & team progress with time information. Analyze meaning metrics for course correction.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>



                <div class="clearfix"></div>


        <section class="section" id="features">
            <div class="container">
                <div class="row vertical-content">

                    <div class="col-sm-6">
                        <img src="../../assets/img/imac.png" class="img-responsive" alt="img">
                    </div>

                    <div class="col-sm-6">
                        <div class="features-alt">
                            <div class="feature-alt-icon">
                                <img src="../../assets/img/status.png" />
                            </div>
                            <h4 class="text-muted">Status updates - Anywhere, Anytime.</h4>
                            <h3>Online Standup made easy</h3>

                            <p class="text-muted">We've all been taught that it's important to have daily standup meetings. These are meant to encourage information flow between teams, but the problem is that they're actually structured to restrict information flow. And with distributed teams, this becomes an even bigger problem. <br> 
                            Stausnap sends you daily reminders to fill in your status updates for the day. Just fill 3 items - What you have worked on? What are you working on? and Are there any blockers.</p>

                            <p class="text-muted">Status update in less than a minute! Get to see updates from the rest of the team too!</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="section" id="features">
            <div class="container">
                <div class="row vertical-content">

                    <div class="col-sm-6">
                        <div class="features-alt text-right">
                            <div class="feature-alt-icon">
                                <img src="../../assets/img/remind.png" />
                            </div>
                            <h4 class="text-muted">Clear visibility of team & project progress</h4>
                            <h3>Track, Collaborate & Improve</h3>

                            <p class="text-muted">As a team have you faced these problems? <br>
                                1. No clear visibility & tracking mechanism for team/member or project updates.<br>
                                2. Threaded comments in emails. Long email threads quickly breakdown into reply-hell where it's difficult to tell who said what and to whom they're talking. <br>
                                3. Not transparent to other teams who might want/need to know what your team is doing. If you weren't on the email thread, you don't have access to the data. <br></p>

                                <p class="text-muted">We put a lot of effort in sorting these out. Give statusnap a spin!</p>
                               
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <img src="../../assets/img/yellow.png" class="img-responsive" alt="img">
                    </div>

                </div>
            </div>
        </section>


        <section class="section" id="features">
            <div class="container">
                <div class="row vertical-content">

                    <div class="col-sm-6">
                        <img src="../../assets/img/tab1.png" class="img-responsive" alt="img">
                    </div>

                    <div class="col-sm-6">
                        <div class="features-alt">
                            <div class="feature-alt-icon">
                                 <img src="../../assets/img/progress.png" />
                            </div>
                            <h4 class="text-muted">Track status and project progress for better productivity</h4>
                            <h3>Meaningful Metrics for progress monitoring</h3>

                            <p class="text-muted">As someone who manages teams do you look for these? <br>
                                1. A tool to track my team's daily progress<br>
                                2. Keeping track of the time being spent on tasks or open tickets<br>
                                3. A tool to auto generate timesheets <br>
                                3. Meaningful metrics - Project & Team member perse<br></p>

                                <p class="text-muted">Statusnap give you all these and much more.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>



        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <img src="../../assets/img/ipad.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </section>


        <section class="section bg-white padding-b-0" id="pricing">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="title">Simple Pricing</h2>
                        <!-- 
                        <p class="title-alt">Looks beautiful & ultra-sharp on Retina Screen Displays. Retina Icons, Fonts & all <br/> others graphics are optimized.</p>
                    -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">

                            <!--Pricing Column-->
                            <article class="pricing-column col-lg-4 col-md-4">
                                <div class="inner-box">
                                    <div class="plan-header text-center">
                                        <h3 class="plan-title">Basic</h3>
                                        <h2 class="plan-price">$0</h2>
                                        <div class="plan-duration">Per Month</div>
                                    </div>
                                    <ul class="plan-stats list-unstyled">
                                        <li> <i class="fa fa-database" aria-hidden="true"></i>5 users</li>
                                        <li> <i class="fa fa-pie-chart" aria-hidden="true"></i>Full Features</li>
                                        <li> <i class="fa fa-envelope-o" aria-hidden="true"></i>Unlimited Projects</li>
                                        <li> <i class="fa fa-envelope-o" aria-hidden="true"></i>Email Support</li>
                                    </ul>

                                    <div class="text-center">
                                        <a href="#" class="btn btn-sm btn-dark">Signup Now</a>
                                    </div>
                                </div>
                            </article>

                            <!--Pricing Column-->
                            <article class="pricing-column col-lg-4 col-md-4">
                                <div class="inner-box active">
                                    <div class="plan-header text-center">
                                        <h3 class="plan-title">Premium</h3>
                                        <h4 class="plan-price">Free Beta</h4>
                                    </div>
                                    <ul class="plan-stats list-unstyled">
                                        <li> <i class="fa fa-database" aria-hidden="true"></i>Pay per user</li>
                                        <li> <i class="fa fa-pie-chart" aria-hidden="true"></i>Full Features</li>
                                        <li> <i class="fa fa-pie-chart" aria-hidden="true"></i>Unlimited Projects</li>
                                        <li> <i class="fa fa-envelope-o" aria-hidden="true"></i>Unlimited Users</li>
                                        <li> <i class="fa fa-envelope-o" aria-hidden="true"></i>Email Support</li>
                                    </ul>

                                    <div class="text-center">
                                       <a href="#" class="btn btn-sm btn-dark">Signup Now</a>
                                    </div>
                                </div>
                            </article>

                            <!--Pricing Column-->
                            <article class="pricing-column col-lg-4 col-md-4">
                                <div class="inner-box">
                                    <div class="plan-header text-center">
                                        <h3 class="plan-title">Enterprise</h3>
                                        <h2 class="plan-price">$$$</h2>
                                        <div class="plan-duration">Annual</div>
                                    </div>
                                    <ul class="plan-stats list-unstyled">
                                        <li> <i class="fa fa-database" aria-hidden="true"></i>Install on your server</li>
                                        <li> <i class="fa fa-pie-chart" aria-hidden="true"></i>Unlimited Projects</li>
                                        <li> <i class="fa fa-pie-chart" aria-hidden="true"></i>Unlimited Users</li>
                                        <li> <i class="fa fa-envelope-o" aria-hidden="true"></i>Support with AMC</li>
                                    </ul>

                                    <div class="text-center">
                                        <a href="#" class="btn btn-sm btn-dark">Contact Us</a>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div><!-- end col -->
                </div>
            </div>
        </section>




        <section class="section" id="faqs">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <h2 class="title">FAQ</h2>
                        <p class="title-alt"></p>
                        
                        <div class="row text-left">
                            <div class="col-sm-6">
                                <div class="question-box">
                                    <h4><span class="text-colored">Q.</span>How do I get started?</h4>
                                    <p><span><b></b></span>1) Sign up. <br>
                                        2) Invite your team members to join Statusnap. <br>
                                        3) Create the projects that your organization/team is working on. Assign members to these projects. <br>
                                        4) Decide when you want to have your daily status update. <br>
                                        Thats it. Now don't bother logging in everyday. Status snap will send you reminders everyday to fill your status update.</p>
                                </div>

                                <div class="question-box">
                                    <h4><span class="text-colored">Q.</span>What can I track?</h4>
                                    <p><span><b></b></span> 1) Daily Progress of your team <br>
                                        2) Track work done against time <br>
                                        3) Analyze Project/User time metrics</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="question-box">
                                    <h4><span class="text-colored">Q.</span>What's an Enterprise version?</h4>
                                    <p><span><b></b></span>You can either Signup with the cloud verion of Statusnap or you can have Statusnap on a dedicted machine either on the cloud or within your enterprise. Statusnap will help you setup the application and handhold you till things get rolling.</p>
                                </div>

                                <div class="question-box">
                                    <h4><span class="text-colored">Q.</span>What if I have more than 5 users?</h4>
                                    <p><span><b></b></span>Currently Statusnap is in the beta version and we are not charging our users. Soon you be able to get your whole Organization/Team onboard Statusnap. Trust us, its not going to expensive!!!</p>
                                </div>
                            </div>
                            
                        </div>
                    </div> <!-- end Col -->
                </div>

            </div>
        </section>



        <footer class="bg-dark footer-one">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-6 p-b-40">
                        <img src="../../assets/img/logo.png" alt="logo" class="footer-logo" height="40"> 
                        <p class="text-light about-text">Oneline Standup and Status tracking has never been this easy. Always keep track of your team's progress on a daily basis and stay informed. Statusnal also provides stakeholders with User & Project performance Metrics thus helping you keep track of Project progress. </p>

                        <p class="text-light about-text">Integrations with various applications like JIRA, Bitbucket, Github, Salck, Hipchat etc will be available soon.</p>
                    </div>
					
                    <div class="col-md-4">
                    </div>
					
                    <div class="col-md-4">
                        <div>
                            <h5>Contact us</h5>
                            <ul class="list-unstyled">
                                <li><strong class="font-secondary font-14">Address:</strong> Beyond Bytes Technologies, #201, 3rd Floor, 4th C Cross, Kasthurinagar Main Road, Kasthurnagar, Bangalore - 560034, India</li>
                                <li><strong class="font-secondary font-14">Phone:</strong> (91) 80-41515177 </li>
                                <li><strong class="font-secondary font-14">Email:</strong> <a href="mailto:first.last@example.com">info@statusnap.com</a></li>
                            </ul>
                        </div>
                    </div>

                </div> <!-- end row -->
            </div>
            <!-- end container -->

            <div class="footer-one-alt">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7">
                            <p class="m-b-0 font-13 copyright">&copy; 2016 Beyond Bytes Technolgies</p>
                        </div>
						
                        <div class="col-sm-5">
                            <ul class="list-inline footer-social-one m-b-0 pull-right">
							    <li> <img src="../../assets/img/comodo_secure.png" style="width:74px;margin-top:-9px;"/></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>