<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="wrapper">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../../assets/img/logo.png" alt=""> <span class="logo-text">online <b>standup</b></span>
                </a>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><img src="../../assets/img/ic_compose.svg"></a>
                    </li>
                    <li class="active">
                        <a href="#"><img src="../../assets/img/ic_timeline.svg"></a>
                    </li>
                     <li>
                        <a href="#"><img src="../../assets/img/ic_menu.svg"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    <div class="bottom-nav">
    <div class="wrapper"  style="background: #3f3f3f;">
     <div class="current-page">
      <h5><a href="#" class="current-active">timeline</a></h5>
     </div>
     </div>
   </div>
    </nav>
    
   <!-- main -->
    <div class="menu">   
  <!-- Menu icon -->  
  <div class="icon-close"> 
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><i class="fa fa-close"></i> CLOSE</a>
  </div>  
  <!-- Menu -->  
  <ul>
    <li> <a href="#">About</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar left-side">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
           
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
               
               
                  <li class="treeview">
                    <a href="#"  class="project-active">
                       <i class="fa fa-inbox"></i>
                        <span>PROJECTS</span>
                    </a>
                  </li>

                   <li class="treeview">
                    <a href="#">
                        <span># Projectname</span>
                    </a>
                  </li>

                   <li class="treeview">
                    <a href="#">
                        <span># Project</span>
                    </a>
                  </li>

                <li class="treeview">
                    <a href="#" class="project-pro">
                       <span class="projectx">#Projectx</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#">#Projectxyz</a></li>
                        <li><a href="#">#Project</a></li>
                        <li><a href="#">#Projectname</a></li>
                        <li><a href="#">#Project</a></li>
                        <li><a href="#">#Projectabc</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#" class="project-active">
                        <i class="fa fa-user"></i> <span>USERS</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">#Projectxyz</a></li>
                        <li><a href="#">#Project</a></li>
                        <li><a href="#">#Projectname</a></li>
                        <li><a href="#">#Project</a></li>
                        <li><a href="#">#Projectabc</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper xyz">
         

        <!-- Main content -->
        <div class="content">
          
         <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
            <div id="content" class="col-lg-12">
                <div class="wrapper">
   <div class="top-header">
     <span class="project"><span class="hash"># </span> PROJECTXYZ</span> <span class="username"><span class="hash">@ </span> USERNAME</span>
   </div>

   <ul class="timeline">
     <div class="date-time">
        <p>March 10, 2016, 4:00 PM</p>
     </div>
    <li>
        <div class="timeline-badge">
         
        </div>
        <div class="timeline-panel">
            
             <div class="edit-left-side">
             <a href="#" class="sidebar-toggle icon-menu" data-toggle="offcanvas" role="button"><img src="../../assets/img/comment.svg"></a>
             <a href="#" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/edit.svg"></a>
             <a href="#" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/delete.svg"></a>
          </div>

            <div class="timeline-heading">
                <h4><span class="hash"># </span> PROJECTNAME <span class="hash">@ </span> NAME</h4>
                <p>5 Hrs</p>
            </div>
            <div class="timeline-body worked-on">
               <h3>worked on</h3>
                <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
            </div>

             <div class="timeline-body working-on">
               <h3>working on</h3>
                <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
            </div>

             <div class="timeline-body blocker-on">
               <h3>blockers</h3>
                <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
            </div>

        </div>
    </li>
    
    <li class="timeline-inverted">
        <div class="timeline-badge">
        
        </div>
        <div class="timeline-panel">

          <div class="edit">
         <a href="#" class="sidebar-toggle icon-menu" data-toggle="offcanvas" role="button"><img src="../../assets/img/comment.svg"></a>
          <a href="#" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/edit.svg"></a>
          <a href="#" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/delete.svg"></a>
          </div>

            <div class="timeline-heading">
                <h4><span class="hash"># </span> PROJECTNAME <span class="hash">@ </span> NAME</h4>
                <p>5 Hrs</p>
            </div>
            <div class="timeline-body worked-on">
               <h3>worked on</h3>
                <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
            </div>

             <div class="timeline-body working-on">
               <h3>working on</h3>
                <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
            </div>

             <div class="timeline-body blocker-on">
               <h3>blockers</h3>
                <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
            </div>

        </div>
    </li>
   
    <li class="clearfix no-float"></li>
</ul>
  
  </div>
            </div>
        </div>
        </div>

        </div>
      
        <!-- /.content -->
    </div>


    <script>
var main = function() {
 
 /* Push the body and the nav over by 285px over */
  
$('.icon-menu').click(function() {
  
  $('.menu').animate({
     
 right: "0px"
   
 }, 200);

    
$('body').animate({
      
right: "285px"
  
  }, 200);
 
 });

  
/* Then push them back */
  
$('.icon-close').click(function() {
   
 $('.menu').animate({
    
  right: "-285px"
   
 }, 200);

    
$('body').animate({
    
  right: "0px"
  
  }, 200);
  
});

};



$(document).ready(main);
</script>