<!-- /.main -->
<div class="col-md-offset-2 col-md-8">
    <div class="main-title">
        <h4>Current Invoice</h4>
    </div>
    <div class="col-md-6">

        <label for="comment" class="settings" >Current Invoice:</label>
        <label for="comment" class="settings" >Pay By date:</label>
        <label for="comment" class="settings" >Invoice Number:</label>
        <label for="comment" class="settings" >Details:</label>
        <button type="button"  ng-click="saveChanges(myForm.$valid)">Pay My Bill</button><a href="#"><img
                src="../../assets/img/download-arrow.png"></a><a href="#"><img src="../../assets/img/mail.png"></a>
    </div>
    <div class="col-md-6">

        <label for="comment" class="settings" >Current plan:</label>
        <label for="comment" class="settings" >Expiry Date:</label>
        <label for="comment" class="settings" >Status:</label>     
    </div>
    <div class="col-md-12">
        <div class="main-title">
            <h4>Current Invoice</h4>
        </div>
    </div>
</div>