
        <div id="main">
        <div class="content">
            <img class="logo-img" src="../../assets/img/logo.png"></img> <h5 class="online">ONLINE <span class="standup">STANDUP</span></h5>
               <div id="container">
                <form  name="loginForm" ng-submit="submitLoginForm(loginForm.$valid)"  novalidate>
                    <!-- #first_step -->
                    <div id="first_step">
                        <div class="form">
                            <h5>Email Address</h5>
                            <input type="text" name="username" id="username" ng-model="username" value="" required/>
                            <h5>Password</h5>
                            <input type="password" name="password" id="password" ng-model="password" value="" />
                            
                            <input class="send submit" type="submit" name="submit" id="submit" value="LOGIN" />
                        </div>
                    </div>  
                    <div class="clear"></div>
        
                       </form>         
                    </div>
                    
                <br />
                <center><p>FORGOT PASSWORD ?</p></center>
            </div>

<toaster-container></toaster-container>
</div>

</div>

