<!-- /.main -->
<div class="col-md-offset-2 col-md-8">
    <div class="main-title">
        <h4>Current Plans</h4>
    </div>
    <div class="create-project">
        <div class="col-md-6">

            <label for="comment" class="settings" >Plan Name:</label>
            <label for="comment" class="settings" >Expiry Date:</label>
            <label for="comment" class="settings" >Details:</label>
        </div>
        <div class="col-md-6">
            <label for="comment" class="settings" >Status:</label>           
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-disabled="myForm.$invalid" ng-click="saveChanges(myForm.$valid)">Deactivate</button>
        </div>

        <div class="main-title">
            <h4>Product Plans</h4>
        </div>
    </div>



</div>