
<!-- /.main -->
<div class="col-md-offset-2 col-md-8 main-section" ng-init="loadSetting()">
    <!--profile-->
    <div class="profile">
        <div class="main-title" >
            <h4>profile</h4>
        </div>
        <form name="profileForm">
            <div class="form-group">
                <label for="comment" class="settings">Display Name</label>
                <input type="text" size="8" class="form-control"  ng-model="userName" name="userName" style="width:40%;" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" required/>
                <span style="color: red"
                      ng-show="profileForm.userName.$dirty && profileForm.userName.$error.required">Display
                    Name is required.</span> <span style="color: red"
                                               ng-show="profileForm.userName.$dirty && profileForm.userName.$error.pattern">Please enter valid Name</span>
            </div>
        </form>
        <div class="col-md-5">
            <div class="row">
                <button type="button" class="btn btn-default create" ng-click="updateUserProfile()" style="width: 55.2%;">save</button>

            </div>	
        </div>
    </div>
    <div class="clear" style="clear:both; padding-bottom:40px;">
        <!--profile ends-->
        <form name="preferenceForm" role="form">
            <div class="main-title" >
                <h4>preference</h4>
            </div>
            <div class="row">
                <div class="col-md-7">

                    <div class="form-group">
                        <label class="settings" for="pwd">DAILY EMAIL REMINDER</label>

                        <toggle-switch ng-model="switchState"></toggle-switch>

                    </div>


                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label for="comment" class="settings">EMAIL REMINDER TIME</label>
                        <input type="text" size="8" class="form-control"  ng-model="timePreference" data-time-format="h:mm a" data-autoclose="1" placeholder="Time" bs-timepicker ng-required="true" />

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-7">

                    <label class="settings">TIMEZONE</label>

                    <timezone-selector ng-model="timeZone" ng-required="true"/> 
                </div>

                <div class="col-md-5">

                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <button type="button" class="btn btn-default create" ng-disabled="preferenceForm.$invalid" ng-click="updateSetting()" style="float: left; width: 55.2%;">save</button>
                </div>	
            </div>
        </form>

        <div class="col-md-12">
            <div class="row">
                <div class="main-title">
                    <h4>reset password</h4>
                </div>
            </div>
        </div>

        <div class="row">

            <form name="signupForm">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="settings">CURRENT PASSWORD</label> <input
                                type="password" class="form-control" name="oldPassword"
                                ng-model="user.oldPassword" required />
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <label class="settings">NEW PASSWORD</label> <input
                                type="password" class="form-control" name="password"
                                ng-model="user.newPassword" ng-minlength="8" ng-maxlength="12"
                                required /> <span class="label label-danger"
                                ng-show="signupForm.password.$dirty && signupForm.password.$error.minlength">use
                                atleast 8 characters</span> <span class="label label-danger"
                                                              ng-show="!isFormSubmitted && signupForm.password.$dirty && signupForm.password.$error.required">Password
                                required.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="settings">REPEAT NEW PASSWORD</label> <input
                                type="password" class="form-control" id="password_c"
                                name="confirmPassword" ng-model="confirmPassword" required /> <span
                                class="label label-danger"
                                ng-show="!isFormSubmitted && signupForm.confirmPassword.$dirty && signupForm.confirmPassword.$error.required">Password
                                required.</span> <span class="label label-danger"
                                                   ng-show="(signupForm.password.$dirty && signupForm.confirmPassword.$dirty) && (user.newPassword != confirmPassword)">Password
                                mismatch </span>
                        </div>

                    </div>
                    <button type="button" class="btn btn-default create"
                            style="float: left; width: 35%;" ng-disabled="signupForm.$invalid"
                            ng-click="updatePassword(user, confirmPassword)">save</button>
                    <div class="col-md-4"></div>
                </div>
            </form>
        </div>
    </div>