
<div class="bottom-nav">
	<div class="wrapper">
		<div class="current-page">
			<h5>
				<a href="user-mgr">users</a>
			</h5>
			<h5>
				<a href="projects">projects</a>
			</h5>
			<h5>
				<a href="settings" class="current-active">settings</a>
			</h5>
		</div>
	</div>
</div>

<!-- /.main -->
<div class="col-md-offset-2 col-md-8 main-section">
	<div class="main-title">
		<h4>settings</h4>
	</div>

	<div class="create-settings">
		<div class="row">
			<div class="col-md-3">
				<label class="settings">CAPTURE HOURS</label> <input type="checkbox"
					name="my-checkbox" checked> <br />
				<br />
				<br />
				<br /> <label class="settings">WEEKENDS NOTIFICATIONS</label> <input
					type="checkbox" name="my-checkbox"> <br />
				<br />
				<br />
				<br /> <label class="settings">STATUS ENABLE FOR</label> <select
					class="form-control turnintodropdown" id="sel1">
					<option>2 DAYS</option>
					<option>3 DAYS</option>
					<option>4 DAYS</option>
					<option>5 DAYS</option>
				</select> <br />
				<br />
				<button type="button" class="btn btn-default submit">save</button>
			</div>

			<div class="col-md-9">
				<table style="width: 100%; border: 1px solid #ddd;">
					<tr>
						<td class="cal-table">
							<h5>HOLIDAYS</h5> <a href="#" class="tag">Mon, 14 Mar 2016 <span><img
									src="../../assets/img/cross.png"></span></a> <a href="#" class="tag">Mon,
								14 Mar 2016 <span><img src="../../assets/img/cross.png"></span>
						</a> <a href="#" class="tag">Mon, 14 Mar 2016 <span><img
									src="../../assets/img/cross.png"></span></a> <a href="#" class="tag">Mon,
								14 Mar 2016 <span><img src="../../assets/img/cross.png"></span>
						</a> <a href="#" class="tag">Mon, 14 Mar 2016 <span><img
									src="../../assets/img/cross.png"></span></a> <a href="#" class="tag">Mon,
								14 Mar 2016 <span><img src="../../assets/img/cross.png"></span>
						</a> <a href="#" class="tag">Mon, 14 Mar 2016 <span><img
									src="../../assets/img/cross.png"></span></a> <a href="#" class="tag">Mon,
								14 Mar 2016 <span><img src="../../assets/img/cross.png"></span>
						</a> <a href="#" class="tag">Mon, 14 Mar 2016 <span><img
									src="../../assets/img/cross.png"></span></a> <a href="#" class="tag">Mon,
								14 Mar 2016 <span><img src="../../assets/img/cross.png"></span>
						</a> <a href="#" class="tag">Mon, 14 Mar 2016 <span><img
									src="../../assets/img/cross.png"></span></a> <a href="#" class="tag">Mon,
								14 Mar 2016 <span><img src="../../assets/img/cross.png"></span>
						</a> <a href="#" class="tag">Mon, 14 Mar 2016 <span><img
									src="../../assets/img/cross.png"></span></a>

						</td>
						<td>
							<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
						</td>
					</tr>
				</table>
			</div>

		</div>
	</div>

	<div class="main-title">
		<h4>reset password</h4>
	</div>

	<div class="row">
		<form name="signupForm">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<label class="settings">CURRENT PASSWORD</label> <input
							type="password" class="form-control" name="oldPassword"
							ng-model="user.oldPassword" required />
					</div>
					<div class="col-md-6"></div>
				</div>
				<br />

				<div class="row">
					<div class="col-md-6">
						<label class="settings">NEW PASSWORD</label> <input
							type="password" class="form-control" name="newpassword"
							ng-model="user.newPassword" ng-minlength="8" ng-maxlength="12" required /> <span
							class="label label-danger"
							ng-show="signupForm.newpassword.$dirty && signupForm.newpassword.$error.minlength">use
							atleast 8 characters</span> <span class="label label-danger"
							ng-show="!isFormSubmitted && signupForm.newpassword.$dirty && signupForm.newpassword.$error.required">Password
							required.</span>
					</div>
					<div class="col-md-6">
						<label class="settings">REPEAT NEW PASSWORD</label> <input
							type="password" class="form-control" name="confirmPassword"
							ng-model="confirmPassword" required /> <span class="label label-danger"
						ng-show="!isFormSubmitted && signupForm.confirmPassword.$dirty && confirmPassword.$error.required"></span> <span class="label label-danger"
						ng-show="(signupForm.newpassword.$dirty && signupForm.confirmPassword.$dirty) && (user.newPassword != confirmPassword)">Password
						mismatch </span> 
					</div>

				</div>
				<button type="button" class="btn btn-default create"
					style="float: left; width: 35%;"
					ng-click="updatePassword(user,confirmPassword)">save</button>
				<div class="col-md-4"></div>
			</div>
		</form>

	</div>
</div>