
<div class="bottom-nav">
	<div class="wrapper">
		<div class="current-page">
			<h5><a href="#" class="current-active">status</a></h5>
		</div>
	</div>
</div>

<div ng-init="usersstatusLoad()">
<div class="col-md-8"  >
	<div class="wrapper" >
		<div class="top-header">
			<span class="project"><span
					class="username"><span class="hash">@ </span>
						{{userName}}</span></span>
		</div>

		<ul class="timeline newid" ng-repeat="artist in artists">
	
			<div class="date-time" >
				<p>{{artist.date}}</p>
			</div>
			
			<li ng-repeat="status in artist.statusList"  ng-class-odd="'timeline-inverted'" ng-class-even="''">
				<div class="timeline-badge"></div>

				<div class="timeline-panel">
					<div class="edit">
						<a ng-show ="showEditIcon(artist.date)" href="#" ng-click="showUpdatePage(status.statusId)" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/edit.svg"></a> 
						
						<a href="#" ng-click="deleteStatus(status.statusId,$index)" confirm="Are you sure you want to delete the item?" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/delete.svg"></a>
					</div>
					<div class="timeline-heading">
						<h4>
							<span class="hash"> <span class="hash">#</span>
							
								{{status.projectName}}        <span  style="float:right"> {{status.time}}</span>
						</h4>
						
						<p>{{status.hours}}hrs</p>
					</div>
					<div class="timeline-body worked-on">
						<h3>worked on</h3>
						<p ng-bind-html="status.workedOn">{{status.workedOn}}</p>
					</div>

					<div class="timeline-body working-on">
						<h3>working on</h3>
						<p ng-bind-html="status.workingOn">{{status.workingOn}}</p>
					</div>

					<div class="timeline-body blocker-on">
						<h3>blockers</h3>
						<p ng-bind-html="status.blockers">{{status.blockers}}</p>
					</div>
					
				</div>
			</li>
			<li class="clearfix no-float"></li>
		</ul>

	</div>
</div>

<!-- <section sticky-nav="ng-sticky-fixed"> -->
<form name="myForm">
	<div class="col-md-4 side">

		<div class="row" >
			<div class="col-md-9" 
				ng-init="loadProjects()">
				<div class="form-sidebar">
				
					<div class="form-group" >
						<select class="form-control" name="project" ng-model="project" 
						required>
						 <option value="">--- Select Project ---</option>
                        <option ng-repeat="project in allprojects" value="{{project.projectId}}" >{{project.projectName}}</option>
						</select> <span style="color: red" ng-show="myForm.project.$error.required"></span>		
					</div>
					
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-sidebar">
					<div class="form-group">
						<select class="form-control turnintodropdown" name="hours"
							ng-model="hours" ng-options="hours.value for hours in selectables" required>
						 <option value="">Hrs</option>	
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="comment">WORKED ON</label>

	 <div text-angular-toolbar class="toolbar" name="workedOn" ta-toolbar="[['h3','h4','p','bold','italics'],['ul', 'ol','indent', 'outdent']]">
 		</div>
		
		<div class="status-text">
   			 <div text-angular ta-target-toolbars="workedOn" ng-model="workedOn" name="workedOn" id="workedOn"></div>
		</div>

		</div>

		<div class="form-group">
			<label for="comment">WORKING ON</label>

				 <div text-angular-toolbar class="toolbar" name="workingOn" ta-toolbar="[['h3','h4','p','bold','italics'],['ul', 'ol','indent', 'outdent']]">
 		</div>
		<div class="status-text">
   			 <div text-angular ta-target-toolbars="workingOn" ng-model="workingOn" name="workingOn" id="workingOn"></div>
		</div>

</div>	
		<div class="form-group">
			<label for="comment">BLOCKERS</label>

				<div text-angular-toolbar class="toolbar" name="blockers" ta-toolbar="[['h3','h4','p','bold','italics'],['ul', 'ol','indent', 'outdent']]">
 		</div>
		<div class="status-text">
   			 <div text-angular ta-target-toolbars="blockers" ng-model="blockers" name="blockers" id="blockers"></div>
		</div>

		</div>	 	
		<button type="button" class="btn btn-default submit"
			ng-click="submitStatus()" ng-show="isSubmit">submit</button>
		<button type="button" class="btn btn-default submit"
			ng-click="updateStatus()" ng-show="isUpdate">Update</button>

	</div>
</form>
</div>