<a class="tiny button" href="" ng-click="toggle()"><i
	class="fa fa-list" aria-hidden="true"></i></a>
<div class="taskLeftSidebar" style="width: 22.5%">
	<div class="theiaStickySidebar">
		<div class="panel-group" id="accordion" ng-init="initTasks()">
			<div class="panel panel-default">
				<div class="panel-heading project-active">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse"
							data-target="#collapseOne"> <i class="fa fa-flag"></i> <span>STATE</span></a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<ul class="list-group project-nav">
							<li ng-class="{'selected':selectedSateIndex ==-1}" role="menu"
								aria-labelledby="dropdownMenu"><a
								ng-click="loadStateProjectTasks('All',-1)">All</a></li>
							<li ng-class="{'selected':$index == selectedSateIndex}"
								role="menu" aria-labelledby="dropdownMenu"
								ng-repeat="taskState in taskStates"><a
								ng-click="loadStateProjectTasks(taskState,$index)">{{taskState.value}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading project-active">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse"
							data-target="#collapseTwo"> <i class="fa fa-file"></i> <span>PROJECTS</span></a>
					</h4>
				</div>

				<div id="collapseTwo" class="panel-collapse collapse in">
					<div class="panel-body">
						<ul class="list-group project-nav">
							<li ng-class="{'selected':selectedPjtIndex==-1}" role="menu"
								aria-labelledby="dropdownMenu"><a
								ng-click="loadProjectStateTasks('All',-1)">All</a></li>
							<li ng-class="{'selected':$index == selectedPjtIndex}"
								role="menu" aria-labelledby="dropdownMenu"
								ng-repeat="project in userprojects| orderBy:'projectName' | filter:searchProjects">
								<a ng-click="loadProjectStateTasks(project,$index)">{{project.projectName}}</a>
							</li>
							<li
								ng-show="userprojects.length != 0 && (userprojects | filter:searchProjects).length == 0"
								class="null-results"><p>
									No results found for <span
										style="font-weight: bold; color: #222;">"{{searchProjects}}"</span>
								</p></li>
							<li ng-show="userprojects.length == 0" class="null-results"><p>No
									Projects found</p></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="midColbar">
	<div class="theiaStickySidebar">
		<div class="panel-group" id="taskListDiv">
			<div class="panel panel-default">
				<div class="panel-heading project-active">
					<h4 class="panel-title">
						<span style="font-weight: bold;">TASK LIST</span> <a
							class="fa fa-plus" style="padding-left: 250px"
							ng-click="showTaskListModal()"></a>
					</h4>
				</div>
				<div id="tasksList">
					<div class="panel-body">
						<ul class="task-list-group project-nav"
							ng-show="taskLists.length>0">
							<li ng-class="{'selectedtl':$index == selectedTLIndx}"
								role="menu" aria-labelledby="dropdownMenu"
								ng-repeat="taskList in taskLists"><div
									style="padding: 10px 20px; border-bottom: 1px solid #dcd8d8;"
									ng-click="loadTaskItems(taskList,$index)">
									<label>{{taskList.name}}</label> <label>{{taskList.spendHours}}
										Hrs of {{taskList.estimatedHours}} Hrs</label> <label>{{taskList.taskItems.length}}
										tasks {{selectedState.value}}</label>
									<div style="padding-left: 300px; width: 75px">
										<a class="fa fa-close" style="float: left"
											ng-click="deleteTaskList(taskList);"
											confirm="Are you sure you want to delete the task list?"></a>
										<h5 ng-click="deleteTaskList(taskList);"
											confirm="Are you sure you want to delete the task list?">Delete</h5>
									</div>
								</div></li>
						</ul>
						<div
							style="height: 250px; text-align: center; vertical-align: middle; line-height: 250px; color: grey"
							ng-show="taskLists==null || taskLists.length==0"
							aria-hidden="false" class="">No task list to show at this
							time</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="task-content ng-scope">
	<div class="panel-group" id="taskItemsDiv">
		<div class="panel panel-default">
			<div class="panel-heading project-active">
				<h4 class="panel-title">
					<a class="fa fa-search" style="padding-left: 20px"></a> <a
						class="fa fa-plus" style="padding-left: 550px"
						ng-click="showTaskItemModal()"></a>
				</h4>
			</div>
			<div id="tasksItemsList">
				<div class="panel-body">
					<ul class="task-list-group project-nav"
						ng-show="taskItemsLists.length>0">
						<li role="menu" aria-labelledby="dropdownMenu"
							ng-repeat="taskItem in taskItemsLists">
							<div
								style="padding: 10px 20px; border-bottom: 1px solid #dcd8d8;">
								<div stye="with:100%">
									<label class="ng-binding" style="float: left; width: 80%">{{taskItem.name}}</label><label
										style="width: 20%">{{taskItem.state}}</label>
								</div>
								<label>{{taskItem.spendHours}} Hrs of
									{{taskItem.estimatedHours}} Hrs</label> <label>{{taskItem.dueDate|
									date:'dd/MMM' }}</label> <label>{{taskItem.desc}}</label>
								<div>
									<span class="alert alert-dismissible"
										ng-repeat="user in taskItem.users"> <span
										style="color: #cc95b5">@{{user.name}}</span> <a
										class="fa fa-close" style="color: #cc95b5"
										ng-click="deleteUserFromProject(user.userId,taskItem)"
										role="button"></a>&nbsp</span> <a
										class="fa fa-plus-circle ng-isolate-scope"
										style="color: #cc95b5;"
										ng-click="getAllUsersOfProject(taskItem);" role="button" title="Add Users"></a>
								</div>

								<div style="width: 100%; height: 30px;">
									<div style="width: 50%; float: right; margin: 10px;"
										aria-hidden="false" class="">
										<div style="width: 60%; float: left" align="centre"
											ng-show="taskItem.state!='Completed'">
											<a class="fa fa-check-circle-o"
												ng-click="markCompleted(taskItem);" role="button">Mark
												as completed</a>
										</div>
										<div style="width: 20%; float: right" align="right">
											<a class="fa fa-close" ng-click="deleteTaskItem(taskItem)"
												role="button">Delete</a>
										</div>
										<div style="width: 20%; float: right" align="centre">
											<a class="fa fa-edit ng-isolate-scope"
												ng-click="deleteTaskItem(taskItem);"
												confirm="Are you sure you want to delete the task?"
												role="button">Edit</a>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div
						style="height: 250px; text-align: center; vertical-align: middle; line-height: 250px; color: grey"
						ng-show="taskItemsLists==null || taskItemsLists.length==0"
						aria-hidden="false" class="">No task items to show at this
						time</div>
				</div>
			</div>
		</div>
	</div>


	<script>
		$(document).ready(function() {
			$('.taskLeftSidebar, .content, .rightSidebar').theiaStickySidebar({
				additionalMarginTop : 53
			});
		});
	</script>
</div>
