
<div class="bottom-nav">
	<div class="wrapper">
		<div class="current-page">
			<h5>
				<a href="user-mgr" class="current-active">users</a>
			</h5>
			<h5>
				<a href="projects">projects</a>
			</h5>
			<h5>
				<a href="settings">settings</a>
			</h5>
		</div>
	</div>
</div>

<!-- /.main -->
<div class="col-md-offset-2 col-md-8">
	<div class="main-title">
		<h4>INVITE</h4>
		<div class="upload">
			<label for="file-upload" class="custom-file-upload"> <img
				src="../../assets/img/upload.png"> BULCK UPLOAD
			</label> <input id="file-upload" file-model = "myFile" type="file" onchange="angular.element(this).scope().bulkupload(this)"/>
		</div>
	</div>

	<div class="create-project">
		<form name="myForm">
			<div class="row">
				<div class="col-md-6">

					<div class="form-group">
						<label for="comment" class="settings">EMAIL</label> <input
							type="email" name="email" ng-model="admin.email"
							class="form-control" required> <span style="color: red"
							ng-show="myForm.email.$dirty && myForm.email.$invalid"> <span
							ng-show=" !isSubmitted && myForm.email.$error.required">Email is required.</span>
							<span ng-show="myForm.email.$error.email">Invalid email
								address.</span>
						</span>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="comment" class="settings">USERNAME</label> <input
							type="text" ng-model="admin.userName" name="myName"
							class="form-control" ng-pattern="/^[a-zA-Z0-9]*$/" required>
						<span style="color: red"
							ng-show="!isSubmitted && myForm.myName.$dirty && myForm.myName.$error.required">The
							name is required.</span> <span style="color: red"
							ng-show="myForm.myName.$dirty && myForm.myName.$error.pattern">name
							is invalid</span>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-default create"
				ng-click="invite(myForm.$valid)">send invite</button>
		</form>
	</div>





	<div class="col-md-12">
		<div class="row">
			<div class="main-title">
				<h4>
					user activity <span class="list-member">{{joinedCount}}
						Joined {{pendingCount}} Pending</span>
				</h4>
			</div>
			<div class="project-table" ng-init="initUser()">
				<table>
					<tr ng-repeat="user in allusers">
						<td class="table-user"><small> <ng-letter-avatar
									data="{{user.userName}}" shape="round"></ng-letter-avatar>
						</small>

							<div class="user-label">
								<h4>{{user.userName}}</h4>
								<p>{{user.email}}</p>
							</div></td>
						<td><img src="../../assets/img/pending.png">
							{{user.status}}</td>
						<td><select class="form-control turnintodropdown" id="sel1">
								<option>{{user.userRole.value}}</option>
						</select></td>
						<td style="float: right;">
							<div ng-click="deleteUser(user.email, $index)"
								ng-confirm-click="Are you sure want to delete??">
								<img src="../../assets/img/delete.png">
							</div>
						</td>
					</tr>



				</table>
			</div>
		</div>
	</div>

</div>