<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd MMM; HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- log file will be archived daily or the file size is larger than 10MB. -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/purple-prod.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{dd MMM; HH:mm:ss.SSS} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>log/purple-prod.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 10 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>


	<appender name="SENTRY" class="com.getsentry.raven.logback.SentryAppender">
		<dsn>https://292f8ab3eca24251bc9a7b510b6c6f42:15beebfb4c7a4e61a0f4b8c50a46b93e@sentry.io/132749?options
		</dsn>
		<tags>tag1:statusnap-prod,tag2:cloud</tags>
		<!-- Optional, allows to select the ravenFactory -->
		<!--<ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory> -->
	</appender>


	<logger name="com.bbytes" level="INFO" />

	<root level="ERROR">
		<appender-ref ref="FILE" />
		<appender-ref ref="SENTRY" />
		<!-- <appender-ref ref="STDOUT" /> -->
	</root>

</configuration>