<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd MMM; HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- log file will be archived daily or the file size is larger than 10MB. -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/purple-prod.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{dd MMM; HH:mm:ss.SSS} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>log/purple-prod.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 10 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="ROLLBAR" class="com.tapstream.rollbar.RollbarAppender">
		<apiKey>f8e91655105e4b5d9aa11420bc50caa2</apiKey>
		<environment>prod</environment>
	</appender>


	<root level="ERROR">
		<appender-ref ref="FILE" />
		<appender-ref ref="ROLLBAR" />
		<!-- <appender-ref ref="STDOUT" /> -->
	</root>

</configuration>