@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
        body {
            font-family: 'Open Sans', sans-serif !important;
            letter-spacing: 1px;
        }

.body-standalone{
    background: url(../img/bg.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: :#fff;
     min-height: 100%;
}
.wrapper{
    padding: 0 15px;
}
.navbar {
    position: relative;
    min-height: 53px !important;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-brand > img {
    display: block;
    width: 30px;
    margin-top: 4px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 15px !important;
    font-size: 18px;
    line-height: 20px;
    width: 213px;
}
@media (min-width: 768px){
.navbar-nav {
    float: right !important;
    margin: 0;
}
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 29px !important;
}
.logo-text{
    display: inline-block;
    float: right;
    margin-top: -27px;
    text-transform: uppercase;
    font-size: 14px;
    color:#898989;
}
.navbar-inverse {
    background-color: #323232 !important;
    border-color: #323232 !important;
    border-bottom: none !important;
}

/* Login */

.login-content{
	margin:110px auto;
	width:42%;
	padding:25px;
	background: url('../img/line.png')repeat-Y;
	background-size:100%;
}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : none; } 
input[type="submit"]:focus, input[type="button"]:focus { outline : none; }

.clear { clear: both; }

#container {
    position: relative;
}
    #container #first_step, #second_step, #third_step, #fourth_step { display: none; }
    #container #first_step { display: block; }    
    #container h1, #container h2 {

        text-align: center;
        font-size: 24px;
        text-shadow: 1px 1px 2px #222;
    }
        #container h1 span { color: #a90329; }
        
    #container h2 {
        color: #888;
        font-size: 20px;
        text-align: left;
        text-shadow: none;
    }
    
#container table {
    margin: 30px 0px;
    font-size: 14px;
    font-weight: 600;
}
#container table td {
    padding: 7px 20px;
}
            #container table td:nth-child(2) {
                color:#BFBBBB;
            }   
        
    #container input {
    color: #333;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
	padding: 10px;    
    margin: 0 0 15px 0;
    }
	#container input.submit{
    width: 100%;
    padding: 16px 0;
    font-weight: 500;
    font-size: 18px;
	margin: 0;
    background: #7c6991;
    border: none;
    cursor: pointer;
	color:#fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
    }
	#container input.submit:hover {
	background: #7c6991;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
    #container input.submit:focus { border: none; }     
    #container input.error { border: 1px solid red; }
    #container input.valid { border: 1px solid #1FFF00; }    
    #container input:focus, #container select:focus {
        border: 1px solid #7c6991;
        color: #888;
    }
	#container input.submit:focus{
		color: #fff;
	}
#container select {   
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    background: url(../img/arrow.png) no-repeat 96% center #ffffff;
    -webkit-appearance: none;
    font-size: 14px;
    color: #333;
	border: 1px solid #ccc;
}
    #container option { padding: 0 15px; }
    #container label {
        color: #666;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        float: right;
        margin: 23px -25px;
        width: 270px;
    }
	.form{
	     width: 60%;
         margin: 36px auto;
         margin-bottom: 0;
	}
	
.logo-img{
    width: 62px;
    margin-top: -74px;
    margin-bottom: 10px;
}
.form h5{
    color:#3f3f3f;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	letter-spacing:2px;
}
.content p{
   
}
.online{
    position: absolute;
    left: 36%;
    top: 11%;
    color: #7f7f7f;
    font-size: 1.3vw;
}
.standup{
    font-weight:bold;
}
.signup{
   margin:80px auto !important;
}

.signup, .online1{
   top: 6% !important;
}
.active{
    border-bottom: 3px solid #7665a0;
   
}
.bottom-nav{
    background:  #3f3f3f;
}
.current-page{
    padding: 13px 15px;
}
.current-page h5{
    font-size: 13px;
    color: #c8c8c8;
    text-transform: uppercase;
    display: inline;
    margin: 0px 12px;
    margin-left: 0px;
    font-weight: bold;
    /* padding: 3px; */
}
.current-page a{
    color: #898989;
    text-decoration: none;
}

.current-active{
    background: url(../img/menu-line.png) no-repeat center;
    padding: 15px;
    color:#fff !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
     background-color: #3f3f3f !important;
}
.side{
    background: #ebebeb;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 100%;
    position: absolute;
    right: 0;
}
.form-sidebar{
    padding-top:20px;

}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #898989  !important;
    font-weight: bold;   
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn{
    display: inline-block;
    padding: 10px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px solid transparent !important;
    border-radius: 0px !important;
}
.submit{
    width:100% !important;
    background: #7c6991 !important;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0px !important
    padding:20px !important;
}
.submit:hover{
    width:100% !important;
    background: #7c6991 !important;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}

/*Time lne*/
 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #c7bcd1;
    left: 50%;
    margin-left: -1.5px;
    z-index: 0;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 48%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #D4C1C1;
    width: 15px;
    height: 15px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 34px;
    right: -27px;
    z-index: 100;
    border: 2px solid #cc95b5;
    border-radius: 50%;
    background: #fff;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 600;
    padding: 0 15px;
    color: #898989;
    font-size: 15px !important;
    margin-bottom: 5px;
}
.timeline-heading p {
    font-weight: 600;
    padding: 0 15px;
    color: #bcbcbc;
    font-size: 13px;
}
.timeline-body > p, .timeline-body > ul {
    padding: 5px 15px;
    margin-bottom: 10px;
}
.worked-on > h3, .timeline-body > ul {
    text-transform: uppercase;
    font-size: 12px;
    background: #aa6489;
    display: inline;
    margin-left: 15px;
    /* text-align: left; */
    padding: 4px;
    color: #fff;
    font-weight: 600;
}
.working-on > h3, .timeline-body > ul {
    text-transform: uppercase;
    font-size: 12px;
    background: #63ccca;
    display: inline;
    margin-left: 15px;
    /* text-align: left; */
    padding: 4px;
    color: #fff;
    font-weight: 600;
}
.blocker-on > h3, .timeline-body > ul {
    text-transform: uppercase;
    font-size: 12px;
    background: #ff8fa0;
    display: inline;
    margin-left: 15px;
    /* text-align: left; */
    padding: 4px;
    color: #fff;
    font-weight: 600;
}

.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -17px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}


.top-header{
    margin: 20px auto;
    text-align: center;
}
.project{
   background-color: #ebebeb;
   padding: 5px;
   font-size: 15px;
   font-weight: bold;
}
.username{
   background-color: #ebebeb;
   padding: 5px;
   font-size: 15px;
   font-weight: bold;
}
.hash{
    color:#bca9de;
}
.date-time p{
    background: #c7bcd1;
    text-align: center;
    width: 200px;
    margin: 30px auto;
    font-weight: bold;
    padding: 2px;
    font-size: 12px;
}
.main-title{
    margin:30px auto;
    border-bottom: 2px solid #7c6991;
   
}
.main-title h4{
     text-transform: uppercase;
     font-weight: bold;
     font-size: 15px;
     margin-bottom: 5px;
}
.main-subtitle h4{
     text-transform: uppercase;
     font-weight: bold;
     font-size: 15px;
     margin-bottom: 20px;
}
.create-project{
    width:60%;
}



.round { 
    border-radius: 50%;
    float:left; 
}
.user-label h4{
    font-size: 13.4px;
    margin-left: 50px;
    font-weight: bold;
}
.user-label p{
    font-size: 11px;
    margin-left: 50px;
    margin-top: -10px;
    color: #b2b2b2;
}
.create{
    background: #7c6991;
    margin-top: 31px;
    margin-bottom: 31px;
    width: 30%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.create:hover{
    background: #7c6991;
    color:#fff;
}
.list-member{
    float: right;
    font-size: 11px;
    text-transform: none;
    color: #939393;
}
.project-table table{
    width:100%;
}
.project-table tr{
    border-bottom: 1px solid #e1e1e1;
}
.project-table td{
     padding-top: 10px;
    padding-bottom: 10px;
}
.table-user{
    width:30%;
    font-weight: bold;
}
.u-number{
    font-size: 10px !important;
    color: #acacac;
}

/*radio button*/
.settings{
    font-size: 11px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #cc95b5 !important;
        border-radius: 0;
}
.create-settings td{
    padding:10px;

}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
   text-decoration: none !important;
}

.tag {
   background: #ebebeb;
    /* border-radius: 3px 0 0 3px; */
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 3px 0 3px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-size: 12px;
    letter-spacing: 0;
   
}

.bootstrap-switch {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    border-radius: 0px !important;
    border: 2px solid #cc95b5;
    position: relative;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.cal-table h5{
    font-weight: bold;
}
.main-section{
    margin-bottom: 20px;
}

a:hover{
    text-decoration: none;
}
a{
    text-decoration: none !important;
}




.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.dropdown-menu > li > a:hover {
     background: #7665a0;
     color:#fff; 
}
.nav-pills > li > a {
    border-radius: 0px !important;
}
.project-active{
    background: #7c6991;
    color:#fff !important;
    font-weight: bold;
}
.project-active a:hover{
    background: #7c6991 !important;
    color:#fff !important;
}
.project-pro{
    background: #cc95b5;
}
.projectx{
    background: #aa6489;
    display: inline;
    color: #fff;
    font-weight: bold;
    padding: 2px;
}
.nav-stacked > li + li {
    margin-top: 0px !important;
    margin-left: 0;
}
.stack{
    margin-left: -41px;
}

.timeline-panel:hover .edit {
    display: block;
}

.edit {
    padding-top: 7px;   
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    background: rgba(34, 34, 34, 0.79);
    width:21%;
    height:100%;
    text-align: center;
}

.timeline-panel:hover .edit-left-side {
    display: block;
}

.edit-left-side {
    padding-top: 7px;   
    padding-left: 7px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background: rgba(34, 34, 34, 0.79);
    width:21%;
    height:100%;
    text-align: center;
}
.form-control:focus{border-color: #7c6991 !important;  box-shadow: none; -webkit-box-shadow: none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

.bootstrap-switch.bootstrap-switch-focused{
    border-color: #cc95b5 !important; 
    box-shadow: none !important; 
    -webkit-box-shadow: none  !important;
}

.upload{
    float: right;
    display: inline-block;
    line-height: 22 px;
    margin-top: -40px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 0px solid #ccc;
    display: inline-block;
    padding: 1px 12px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    color: #7c6991;
}

/*right slide*/

.menu {
  background: #47a3da repeat left top;
  right: -285px;
  /* start off behind the scenes */

  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 9;
}

/* Basic styling */



.jumbotron {
  background-color: #258ecd;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu ul {
  border-top: 1px solid #258ecd;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #258ecd;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #afdefa;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  color: #afdefa;
}

.icon-close a {
  cursor : pointer;
  color: #afdefa;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.icon-menu {
  color: #afdefa;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-sidebar, .left-side {
    position: absolute;
    z-index: 810;
    top: 0;
    left: 0;
    width: 230px;
    min-height: 100%;
    padding-top: 99px !important;
    transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
}
.sidebar-menu > li > a {
     border-left: 0px solid transparent !important;
}
.left-side{
    background: #ebebeb !important;
}
..toast-info {
    background-color: #EF5C5C !important;
}